<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>

<main class="container">
  <br><h1><%= title %></h1>
  <p style="text-align: center">Hello! My name is Ka Ying Leung. I'm from Hong Kong.
    <br>This is my third semester of the 2-year software engineering diploma in Centennial College.
  </p>
  <center>
    <a href="/documents/resume.pdf">My Resume</a><br><br>
    <img src="/images/myimage.jpg" alt=myimage width="370" height="260">
</center>
    
    <hr width="100%" color=grey size="3">
    <br>
    <p>
        <h3 style="color:rgb(0, 42, 105);"><b>Life goals to achieve</b></h3>
        Upon finishing this study, I plan to pursue a software engineering career in my hometown, Hong Kong. 
        In recent years, the Hong Kong government has started to take initiatives to push the growth of IT sectors. 
        As technology in Hong Kong grows, it is expected to have a huge spurt in demand for software engineers. 
        I believe that this diploma program is a wise investment to gain a competitive edge in Hong Kong job market.
        <br><br>
    </p>
    
    <p>
        <h3 style="color:rgb(0, 42, 105);"><b>My Hobbies</b></h3>
        <ul>
        <li>Watching movies</li>
        <li>Hiking</li>
        <li>Walking</li>
        <li>Swimming</li>
        <li>Playing jigsaw puzzles</li>
        <br><br><br>
        </ul>
    </p>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>