<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>

<main class="container">
  <br><h1><%= title %></h1>
  <div class="project"><br><br>
    <h2>Develop a public website</h2>
    <img src="/images/project1.jpg" alt="Project 1" width="550" height="370"><br><br>
    <a href="/links/project1/home.html">Click here to see the website</a><br><br>
    <p>
      It is a public website for Grace New Covenant Pentecostal Church, including 6 pages: Home page, About Us page, Church Service Time page, Ministries page, and a Contact page.
    </p><br>
  </div>
  <div class="project">
    <h2>Bug Smasher Game</h2>
    <img src="/images/project2.jpg" alt="Project 2" width="550" height="330"><br><br>
    <a href="/links/project2/project2.html">Click here to play</a><br><br>
    <p>
      It is a simple Bug Smasher browser-based (HTML5 canvas) game in which a bug hops randomly around the game area at a given interval. 
      The player clicks on the bug to catch it. By catching the bug, the score is incremented and the hopping interval is decremented by a number of milliseconds, making it more difficult to catch the bug.
      Ihe payer can reset the speed to the initial hopping interval if the game becomes too challenging.
      The player can also click the Reset Score button to restart the game.
    </p><br>
  </div>
  <div class="project">
    <h2>Design a mobile ticketing app for Cinema City</h2>
    <img src="/images/project3.jpg" alt="Project 3" width="800" height="320"><br><br>
    <p>
      Cinema City is a local cinema circuit that provides a range of movies. 
      It strives to offer a diverse selection of the latest and internationally renowned films.<br>
      The project goal is to design an app for Cinema City that allow users to easily buy movie tickets and reserve seats in advance.<br>
      Being an UX designer for this project, my responsibilities are conducting interviews, digital wireframing, low and high-fidelity prototyping, conducting usability studies and iterating on designs.
    </p><br><br>
  </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>