<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>

<main class="container">
  <br><h1><%= title %></h1>
  <div class="project"><br><br>
    <img src="project1.jpg" alt="Project 1">
    <h2>Project 1</h2>
    <p>Description of project 1 and your role in it.</p>
  </div>
  <div class="project">
    <img src="project2.jpg" alt="Project 2">
    <h2>Bug Smasher Game</h2>
    <p>It is a simple Bug Smasher browser-based (HTML5 canvas) game in which a bug hops randomly around the game area at a given interval. 
       The player clicks on the bug to catch it. By catching the bug, the score is incremented and the hopping interval is decremented by a number of milliseconds, making it more difficult to catch the bug.
       Ihe payer can reset the speed to the initial hopping interval if the game becomes too challenging.
       The player can also click the Reset Score button to restart the game.
    </p>
  </div>
  <div class="project">
    <img src="project3.jpg" alt="Project 3">
    <h2>Project 3</h2>
    <p>Description of project 3 and your role in it.</p>
  </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>